#board {
	position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #C9FAC9;
}

#board[gosize="19"] {
	height: 912px;
	width: 912px;
	background-image: url("../img/grid19x19.svg");
}

#board[gosize="13"] {
	height: 624px;
	width: 624px;
/* 	background-image: url("../img/grid13x13.svg");
 */
}

#board[gosize="9"] {
	height: 432px;
	width: 432px;
/* 	background-image: url("../img/grid9x9.svg");
 */}

div .abs {
	position: absolute;
}

div .cell {
	height: 48px;
	width: 48px;
}

[stone=BLACK] {
	background-image: url("../img/black.png");
}

[stone=WHITE] {
	background-image: url("../img/white.png");
}

[target=BLACK] {
	background-image: url("../img/target_black.png");
}

[target=WHITE] {
	background-image: url("../img/target_white.png");
}