div .position {
	position: absolute;
	height:  48px;
	width: 48px;
	background-color: #C9FAC9;
}

[stone=BLACK] {
	background-image: url("../img/black.png");
}

[stone=WHITE] {
	background-image: url("../img/white.png");
}

[target=BLACK] {
	background-image: url("../img/target_black.png");
}

[target=WHITE] {
	background-image: url("../img/target_white.png");
}