body {
	font-family: verdana;
	text-align: center;
	background-color: #202020;
}

.hidden {
	display: none;
}

.centered {
	text-align: center;
}

.shadowed {
	margin-right: 50px;
	color: #AA1221;	
	box-shadow: 6px 10px 6px #303030;
}

.bordered {
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
}

.infobox {
	resize: both;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.left_aligned {
	text-align: left;
}

.margined {
	margin: 8px;
}

.unpadded {
	padding-top: 0px;
	padding-bottom: 0px;
}

.padded {
	padding: 15px;
}

.smallpadded {
	padding: 8px;
}

.capture {
	background-color: #AADE22;
}

.left {
	float: left;
	margin-left: 50px;
}

.block {	
	display: block;
}

.right {
	float: right;
	margin-right: 50px;
}

#content {
	margin-top: 12px;
}

#playerdata {
	font-family: Impact;
	font-size: 250%;
}

#playerone {
	color: #000000;
	font-weight: bold;
	text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
}

#playertwo {
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

#gamedata {
	height: 60px;
	margin-bottom: 5px;
	
	font-family: Impact;
	font-size: 150%;
	text-align: center;
}

#battlebox {
	margin-top: 8px;
	padding-left: 10px;
	resize: horizontal;
	height: 1.6em;
	background-color: #AADE22;
	padding: 8px;
	vertical-align: middle;
	
	font-variant: small-caps;
	font-size: 75%;
	font-weight: bold;
	text-align: left;
}

#box {
	display: inline-block;
	background-color: #505050;
	padding: 12px;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}