<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
  
  <!--
		server = new Server(80);
		WebAppContext context = new WebAppContext("../go-webserver/src/main/webapp", "/");
		PackagesResourceConfig config = new PackagesResourceConfig("com.topdesk.mc12.webserver.rest");
		config.getFeatures().put(JSONConfiguration.FEATURE_POJO_MAPPING, true);
		context.addServlet(new ServletHolder(new ServletContainer(config)), "/rest/*");
		context.addServlet(DefaultServlet.class, "/*");
		server.setHandler(context);
  -->
  
  <servlet>
  	<servlet-name>rest</servlet-name>
  	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  	<init-param>
  		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
  		<param-value>true</param-value>
  	</init-param>
  	<init-param>
  		<param-name>com.sun.jersey.config.property.packages</param-name>
  		<param-value>com.topdesk.mc12.webserver.rest</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>rest</servlet-name>
  	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
</web-app>
